:root {
  --main-color: #94c85c;
  --main-color-bg: rgb(148 200 92 / 0.3);
  --heading-color: #678c3f;
  --max-width: 480px;
}

/* reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

label {
  display: block;
}

/* header */

.header {
  background: var(--main-color-bg);
}

.header__inner {
  padding: 32px 0;
  width: calc(100% - 32px);
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-image {
  width: 240px;
  height: 240px;
  background: #fff;
  padding: 32px;
  border-radius: 50%;
  margin: 0 auto;
}

.header-title {
  margin: 24px 0 0;
  font-size: 24px;
  color: var(--heading-color);
  text-align: center;
}

.header-lead {
}

/* common */

.content h2 {
  margin: 0 0 24px;
  font-size: 20px;
  color: var(--heading-color);
  text-align: center;
  display: flex;
  gap: 16px;
  align-items: center;
}

.content h2::before,
.content h2::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--main-color);
}

.content h3 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

/* form common */

fieldset {
  margin-top: 16px;
  border: none;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-top: 16px;
}

fieldset ul {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}

legend {
  font-weight: bold;
}

input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #aaa;
}

/* wrapper */

.main-contents {
  width: calc(100% - 32px);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 48px 0 0;
}

/* basic info form */

.button {
  display: block;
  margin: 16px auto 0;
  font-size: 16px;
  width: 240px;
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border: 1px solid var(--heading-color);
  color: var(--heading-color);
  background: #fff;
  transition:
    background 0.3s,
    color 0.3s;
}

.button:hover {
  color: #fff;
  background: var(--heading-color);
}

.infoTable {
  width: 100%;
}

.infoTable th,
.infoTable td {
}

.infoTable tr {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.infoTable tr + tr {
  margin-top: 8px;
}

.infoTable th {
  text-align: left;
}

.infoTable td {
  flex: 1;
}

/* result */

.result {
  margin-top: 32px;
}

.result-date {
  background: var(--main-color-bg);
  padding: 16px;
  border-radius: 4px;
  margin: 16px 0 0;
}

.result-date__title {
  display: block;
  font-size: 14px;
}

.result-date__content {
  display: inline-block;
  margin-top: 4px;
  font-size: 24px;
  font-weight: bold;
  color: var(--heading-color);
}

/* option */

.option {
  background: #f8f8f8;
  padding: 24px;
  border-radius: 4px;
  margin-top: 48px;
}

/* caution */

.caution {
  margin-top: 48px;
}

.caution-list {
  font-size: 14px;
  padding: 16px;
  color: #666;
  margin-top: 0;
}

.caution-list li + li {
  margin-top: 4px;
}

/* footer */

.footer {
  margin-top: 48px;
  padding: 16px 0;
  background: #f8f8f8;
  text-align: center;
}

/*
@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1280px) {} 
*/
